
h1, h2, h3, h4, h5, p, a, ul, li, input, select, textarea {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#auth-display-img {
	height:30px; 
	float:left;
}

#auth-display-name {
	height:30px; 
	float:left; 
	width:120px; 
	background-color:rgb(51,95,156);
	color:white; 
	font-family:tahoma; 
	font-weight:bold;
	font-size:12px; 
	line-height:30px;		
}

#auth-info {
	text-align:left;
	font-family:tahoma; 
	font-size:14px;
}

#pais {
	float: left;
	font-size:75%;
	margin-left:auto;
	text-align: center;
	margin-right:auto;
	width:100%;
	background:#FE2E2E;
}

#jalus {
	float: left;
	font-size:75%;
	margin-left:auto;
	text-align: center;
	margin-right:auto;
	width:100%;
	background:#FE2E2E;
}

#header {
	float:left;
	margin:-4em 0 0 0; 
	padding:0em;
	width:10em;
	height:20em;
}

a {
	text-decoration:none;
}

.logo {
	float:left;
	margin:0px;
	padding:5.5em 0 0 0;
	width:70em;
	height:16.27em;
}

#tabs li {
	list-style:none;
	display:inline;
}

html {
	background:#23282e url('img/taust.png') no-repeat;
	height:60%; /* this should make page container from top to bottom fully white.*/
}

.container {
	margin: -2em auto;
	padding: 0em 0 0em 0;
	width: 70em;
	background:#FFFFFF;
	height:100%;
}

.title {
	padding:3.5em 0em;
	float:left;
	font-size:2em;
	color:#000000;
}

.ops {
	padding:10em 4em;
	float:left;
}

.enter a {
	line-height:2.5em;
	color:#ffffff;
	background:#3a75c4;
	font-size:2em;
	clear:both;
	padding:0em 1.75em;
	text-decoration:none;
}

.text {
	clear:both;
	margin:1em 4em;
} 

.active {
	background:#ffffff;
}

.menu {
	float:left;
	margin-top:-0.5em;
	margin-bottom:3em;
	margin-left:-2.5em;
	margin-right:-1em;
} 

.menu a {
	float:left;
	color:#ffffff;
	background:#23282e url('img/button.png') no-repeat;
	background-size:cover;
	font-size:2em;
	padding:0em 1.16em; /* change menu width here */
	text-decoration:none;
}

.statmenu {
	float:left;
	margin-top:-3em;
	margin-bottom:0em;
 	margin-left:-6.5em; 
	margin-right:-6em;
}  

.statmenu a {
	float:left;
	color:#ffffff;
	background:#23282e url('img/taust.png') no-repeat;
	background-size:cover;
	font-size:1em;
	padding:0.3em 2em; /*change statmenu width here*/
	text-decoration:none;
}

#sorting th {
	text-decoration:none;
	font-color:#23282e;
}

.btn {
	background:#23282e url('img/taust.png') no-repeat;
	color: white;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:2em;
	position:relative;
	top:0.5em;
}

.ui-tabs {
    height: auto !important;
}

.menu a:hover, .statmenu a:hover {
	color:#3a75c4;
	
}

.menu a:active {
	background:#FFFFFF;
	color:#3a75c4;
}

#sorting a {
	color:#FFFFFF;
	text-decoration:none;
}

#candSearch, #areaSearch {
	color:#ffffff;
	background:#23282e url('img/button.png') no-repeat;
	background-size:cover;
	clear:both;
	padding:0.1em 1.17em; /* change menu width here */
	text-decoration:none;
}

#candSearch:hover, .button:hover {
	background:#FFFFFF;
	color:#3a75c4;
	
}

input:hover {
	background:#FFFFFF;
	color:#3a75c4;
	text-decoration:none;
}

#idkaardinupp { display: block; width:255px; height:43px;
	background: url(img/ggl1.gif) no-repeat;
}

#idkaardinupp:hover {
	background: url(img/ggl2.gif) no-repeat;
}

#idkaardinupp:active {
	background: url(img/ggl3.gif) no-repeat;
}

#form{
	padding-left:15px;
}

#tabs a.active {
	background:#fff;
	color:#000;
}

.riigistat {
	float:center;
	margin:0px;
	width:60em;
	height:40em;
}

.piirkonnastat {
	float:center;
	width:40em;
	height:25em;
}

.statmenu a:hover {
	background:#FFFFFF;
	color:#3a75c4;
}

.kandidaadid {
	text-align:center;
	margin-left:4em;
	margin-bottom:2em;
}

#areaStatistics  {
	text-align:center;
	margin-left:4em;
	margin-bottom:2em;
}

.kandidaadistat {
	float:center;
	width:40em;
	height:25em;
}
.parteistat {
	float:center;
	width:40em;
	height:25em;
}

.print {
	margin-top:5em;
	margin-left:4em;
	margin-right:4em;
}

.printbutton a {
	position:relative;
	float:inherit;
	top:-1.2em;
	color:#ffffff;
	background:#23282e url('img/taust.png') no-repeat;
	font-size:1em;
	padding:0.1em 1.3em;
	clear:both;
	text-decoration:none;
}

.candidateTable, .sortable {
 	margin-left:4em;
	width:90%;
	height:10%;
 	text-align:center;
	border:1;
 	border-color:#000066;
 	border-collapse:collapse;
 	text-decoration:none;
}

.candidateInfo {
	margin-left:10%;
	width:80%;
	height:9em;
	text-align:center;
	border:2em;
	border-color:#000066;
}

#candidateForm {
	margin-left:4em;
	margin-bottom:1em;
}

table.candidateTable td, table.candidateTable th, table.sortable td, table.sortable th {
 	border:0.2em solid #3a75c4;
	padding:0.3em;
 	text-decoration:none;
}


th {
	color:#ffffff;
	background:#23282e url('img/button.png') no-repeat;
	background-size:cover
}

#candSearch {
	color:#ffffff;
	background:#23282e url('img/button.png') no-repeat;
	background-size:cover;
	clear:both;
	padding:0em 1.17em; /* change menu width here */
	text-decoration:none;
}

#candSearch:hover, .button:hover {
	background:#FFFFFF;
	color:#3a75c4;
}

#submitcandidate {
	color:#ffffff;
	background:#23282e url('img/button.png') no-repeat;
	background-size:cover;
	clear:both;
	padding:0em 1.17em; /* change menu width here */
	text-decoration:none;
}

#submitcandidate:hover, .button:hover {
	background:#FFFFFF;
	color:#3a75c4;
}


.button {
	color:#ffffff;
	background:#23282e url('img/button.png') no-repeat;
	background-size:cover;
	clear:both;
	padding:0em 1.17em; /* change menu width here */
	text-decoration:none;
}

#specialcontainer {
	display: table;
	background-size:cover;
	}

#row  {
	padding-left:1em;
	display: table-row;
	}

#left {
	display: table-cell;
	vertical-align: top;
	text-align: center;
}
	
#middle {
	display: table-cell;
	padding-left:1em;
	padding-top:-5em;
	vertical-align: top;
	text-align: left;
}

#right {
	padding-left:1em;
	display: table-cell;
	vertical-align: top;
	text-align: left;
}

	
#select {
	width:4em;
}
	
.tabs li {
 list-style:none;
 display:inline;
}

.tabs a {
 padding:0px 0px;
 display:inline-block;
 background:#666;
 color:#fff;
 text-decoration:none;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}

.ui-autocomplete-loading {
    background: white url('img/ui-anim_basic_16x16.gif') right center no-repeat;
  }

/*Mittekasutatud otsing*/
/* .searchbar {
	float:right;
	position:relative;
	top:-5.45em;
	background:#23282e url('img/taust.png') no-repeat;
	padding-bottom:0.5em;
	padding-left:1.3em;
} */

/* .search {
	width:6em;
	height:1em;
	line-height:2.5em;
	color:#ffffff;
	background:#3a75c4;
	font-size:2em;
	clear:both;
	padding:0.1em 1.75em;
	text-decoration:none;
} */

/* a:hover { 
	background:#FFFFFF; 
	color:#3a75c4; 
 	text-decoration:none;
 } */
 
 /* #sisene a{
	padding:0.2em;
} */