
h1, h2, h3, h4, h5, h5, p, a {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#header
{
	float:left;
	margin:0px;
	padding:0px;
	width:100em;
	height:20em;
	color:#000000;
}

.logo
{
	float:left;
	margin:0px;
	padding:3em 0 0 0;
	width:350px;
	height:155px;
}

body {
	background:#3a75c4;
}

.container
{
	margin: -10px auto;
	padding: 0 4em 8em 4em;
	width: 77em;
	background:#FFFFFF;
}

.title {
	padding:3.5em 0em;
	float:left;
	font-size:2em;
}

.ops {
	padding:10em 4em;
	float:left;
}

.enter a {
	line-height:5em;
	color:#ffffff;
	background:#3a75c4;
	font-size:2em;
	font-padding:1em;
	clear:both;
	padding:0.1em 2em;
	text-decoration:none;
}

.search {
	width:6em;
	hight:1em;
}


.menu a {
	line-height:10em;
	color:#ffffff;
	background:#3a75c4;
	font-size:2em;
	font-padding:1em;
	clear:both;
	margin-left:0.2em;
	margin-right:0.2em;
	padding:0.1em 2em;
	text-decoration:none;
}

.menu a:hover {
	background:#FFFFFF;
	color:#3a75c4;
	
}
.menu a:active {
	background:#FFFFFFF;
	color:#3a75c4;
	}
	
a:hover {
	background:#FFFFFF;
	color:#3a75c4;
	text-decoration:none;
	}

