
h1, h2, h3, h4, h5, p, a, ul, li {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#header
{
	float:left;
	margin:-5em 0 0 0;
	padding:0em;
	width:100em;
	height:20em;
}

.logo
{
	float:left;
	margin:0px;
	padding:3em 0 0 0;
	width:77em;
	height:16.5em;
}

body {
	background:#23282e url('img/taust.png') no-repeat;
}

.container
{
	margin: -2em auto;
	padding: 0em 0 12em 0;
	width: 77em;
	background:#FFFFFF;
}

.title {
	padding:3.5em 0em;
	float:left;
	font-size:2em;
	color:#000000;
}

.ops {
	padding:10em 4em;
	float:left;
}

.enter a {
	line-height:2.5em;
	color:#ffffff;
	background:#3a75c4;
	font-size:2em;
	/*font-padding:1em;*/
	clear:both;
	padding:0.1em 1.75em;
	text-decoration:none;
}

.searchbar {
	float:right;
	position:relative;
	top:-5.45em;
	background:#23282e url('img/taust.png') no-repeat;
	padding-bottom:0.5em;
	padding-left:1.3em;
}


.search {
	width:6em;
	height:1em;
	line-height:2.5em;
	color:#ffffff;
	background:#3a75c4;
	font-size:2em;
	/*font-padding:1em;*/
	clear:both;
	padding:0.1em 1.75em;
	text-decoration:none;
}

.text {
	margin-left:4em;
	margin-right:4em;
}

.active {
	background:#ffffff;
}

.menu a {
	line-height:4em;
	color:#ffffff;
	background:#23282e url('img/taust.png') no-repeat;
	font-size:2em;
	/*font-padding:5em;*/
	clear:both;
	margin-right:0.1em;
	padding:0.1em 1.17em; /* change menu width here */
	text-decoration:none;
}

.btn
{
	background:#23282e url('img/taust.png') no-repeat;
	color: white;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:2em;
	position:relative;
	top:0.5em;
	
}

.menu a:hover {
	background:#FFFFFF;
	color:#3a75c4;
	
}
.menu a:active {
	background:#FFFFFF;
	color:#3a75c4;
	}

a:hover {
	background:#FFFFFF;
	color:#3a75c4;
	text-decoration:none;
	}
	
input:hover {
	background:#FFFFFF;
	color:#3a75c4;
	text-decoration:none;
	}

#facebookinupp { display: block; width:255px; height:43px;
	background: url(fb1.gif) no-repeat;
}

#facebookinupp:hover {
	background: url(fb2.gif) no-repeat;
}

#facebookinupp:active {
	background: url(fb3.gif) no-repeat;
}

#twitterinupp { display: block; width:255px; height:43px;
	background: url(tw1.gif) no-repeat;
}

#twitterinupp:hover {
	background: url(tw2.gif) no-repeat;
}

#twitterinupp:active {
	background: url(tw3.gif) no-repeat;
}

#googlenupp { display: block; width:255px; height:43px;
	background: url(ggl1.gif) no-repeat;
}

#googlenupp:hover {
	background: url(ggl2.gif) no-repeat;
}

#googlenupp:active {
	background: url(ggl3.gif) no-repeat;
}

#idkaardinupp { display: block; width:255px; height:43px;
	background: url(id1.gif) no-repeat;
}

#idkaardinupp:hover {
	background: url(id2.gif) no-repeat;
}

#idkaardinupp:active {
	background: url(id3.gif) no-repeat;
}

#form{
	padding-left:15px;
}

.statmenu a {
	position:relative;
	float:inherit;
	top:-2.4em;
	color:#ffffff;
	background:#23282e url('img/taust.png') no-repeat;
	font-size:1em;
	/*font-padding:5em;*/
	clear:both;
	margin-right:0.3em;
	padding:0.1em 1.17em; /* change menu width here */
	text-decoration:none;
}

.riigistat {
	float:center;
	margin:0px;
	width:60em;
	height:40em;
}

.piirkonnastat {
	float:center;
	margin:0px;
	width:60em;
	height:40em;
}

.statmenu a:hover {
	background:#FFFFFF;
	color:#3a75c4;
}

.kandidaadid {
	text-align:center;
	margin-left:4em;
	margin-bottom:2em;
}

.kandidaadistat {
	float:center;
	margin:0px;
	width:60em;
	height:40em;
}
.parteistat {
	float:center;
	margin:0px;
	width:60em;
	height:40em;
}

.print {
	margin-top:5em;
	margin-left:4em;
	margin-right:4em;
}

.printbutton a {
	position:relative;
	float:inherit;
	top:-2.2em;
	color:#ffffff;
	background:#23282e url('img/taust.png') no-repeat;
	font-size:1em;
	padding:0.1em 1.3em;
	clear:both;
	text-decoration:none;
}

.candidateTable {
	margin-left:4em;
	width:90%;
	height:9em;
	text-align:center;
	border:2em;
	border-color:#000066;
	
}

.candidateInfo {
	margin-left:10%;
	width:80%;
	height:9em;
	text-align:center;
	border:2em;
	border-color:#000066;
	
}

#candidateForm {
	margin-left:4em;
	margin-bottom:1em;
}

th {
	color:#ffffff;
	background:#23282e url('img/button.png') no-repeat;
	background-size:cover
}

#candSearch {
	color:#ffffff;
	background:#23282e url('img/button.png') no-repeat;
	background-size:cover;
	/*font-padding:5em;*/
	clear:both;
	padding:0.1em 1.17em; /* change menu width here */
	text-decoration:none;
}

#candSearch:hover, .button:hover {
	background:#FFFFFF;
	color:#3a75c4;
	
}

.button {
		color:#ffffff;
	background:#23282e url('img/button.png') no-repeat;
	background-size:cover;
	/*font-padding:5em;*/
	clear:both;
	padding:0.1em 1.17em; /* change menu width here */
	text-decoration:none;
}
